﻿@using Microsoft.Ajax.Utilities
@model MiusiMovies.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.BirthDay.HasValue)
    {
        <li>Birthdate: @Model.BirthDay.Value.ToShortDateString()</li>
    }
</ul> 
