﻿@using Microsoft.Ajax.Utilities
@model MiusiMovies.Models.Movie

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Genre: >@Model.Genre.Name</li>
    <li>Release Date: @Model.DateAdded</li>
    <li>Number in Stock: @Model.Stock</li>
</ul> 

