﻿@model MiusiMovies.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ var className = Model.Customers.Count > 5 ? "popular" : null; }

<h2>@Model.Movie.Name</h2>

@if(Model.Customers.Count == 0)
{
    <text>Nadie alquiló esta película antes</text>
}

<ul>
@foreach (var customer in Model.Customers)
{
    <li>@customer.Name</li>
}
</ul>   

